/* Zerando o site */
body {
    margin: 0;
    font-family: tahoma;
}

/* ===ESTILOS GLOBAIS== */
.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    max-width: 980px;
}

/* FIM DOS ESTILOS GLOBAIS */

/* ======INICIO DA PRIMEIRA SECAO======= */

.topo {
    background-color: #afddfb;
    display: flex; /* Adição: Para usar flexbox */
    justify-content: space-between; /* Adição: Espaço entre os elementos no topo */
    align-items: center; /* Adição: Centralizar verticalmente */
    padding: 10px;
}

.topo img {
    max-width: 100%; /* Adição: Ajustar o tamanho máximo da imagem para que seja responsiva */
    height: auto; /* Adição: Permite que a altura da imagem seja ajustada proporcionalmente */
}

.paragrafo-topo {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.link-topo {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

/* Adição: Media query para telas menores */
@media screen and (max-width: 768px) {
    .topo {
        flex-direction: column;
    }

    .topo img {
        margin-bottom: 10px;
    }

    .paragrafo,
    .paragrafo-servicos,
    .lista-servicos,
    .lista-contato {
        width: 90%; /* Ajuste para largura máxima em telas menores */
    }

    .item-lista-servicos,
    .item-lista-contato {
        font-size: 16px; /* Ajuste do tamanho da fonte em telas menores */
    }
}
